
body {
    background-color: #E7DA1A;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.navbar {
    background-color: white;
    width: 100px;
    padding: 20px;
    position: absolute;
    left: 0px;
    top: 10px;
    margin-left: 10px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0px;
    bottom: auto;
    
}

.navbar a {
    text-decoration: none;
    color: #8910b5;
    display: block;
    font-weight: bold;
}

.d1{
    margin-bottom: 20px;
}
.d2{
    margin-bottom: 20px;
}
.d3{
    margin-bottom: 20px;
}
.d4{
    margin-bottom: 20px;
}
.navbar1 {
    background-color: white;
    width: 100px;
    padding: 20px;
    position: absolute;
    left: 0px;
    top: 80px;
    margin-left: 10px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0px;
    bottom: auto;
    
}

.navbar1 a {
    text-decoration: none;
    color:#8910b5;
    display: block;
    font-weight: bold;
}
.navbar2 {
    background-color: white;
    width: 100px;
    padding: 20px;
    position: absolute;
    left: 0px;
    top: 150px;
    margin-left: 10px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0px;
    bottom: auto;
    
}

.navbar2 a {
    text-decoration: none;
    color:#8910b5;
    display: block;
    font-weight: bold;
}
.navbar3 {
    background-color: white;
    width: 100px;
    padding: 20px;
    position: absolute;
    left: 0px;
    top: 220px;
    margin-left: 10px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0px;
    bottom: auto;
    
}

.navbar3 a {
    text-decoration: none;
    color:#8910b5;
    display: block;
    font-weight: bold;
}
.black-rectangle1 {
    background-color: black;
    width: 10px;
    height: 55px;
    position: absolute;
    top: 0;
    right: 0;
}
.navbar:hover{
    background-color: blue;
}
.navbar1:hover{
    background-color: blue;
}
.navbar2:hover{
    background-color: blue;
}
.navbar3:hover{
    background-color: blue;
}
.p1{
    color: #8910b5;
    font-size:x-large;
}
.d5{
    display: inline-block;
    position: absolute;
    left: 300px;
}
hr {
        position: relative;
        top: 20px;
        height: 2px;
        background-color: #8910b5;
        margin-bottom: 50px;
}