table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: none;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #10b37c;
    color:aliceblue;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}